*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== BODY ===== */
body{
    font-family: Arial, sans-serif;
    background: #0f172a;   /* deep navy */
    color: #e2e8f0;
    line-height: 1.6;
}

/* ===== HEADER / NAME ===== */
header{
    text-align: center;
    padding: 30px 20px;
}

h1{
    font-size: 34px;
    color: #ffffff;
}

/* ===== NAVBAR ===== */
nav{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 15px 0;
    flex-wrap: wrap;
}

nav a{
    color: #e2e8f0;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover{
    color: #38bdf8;
}

/* ===== SECTIONS ===== */
section{
    padding: 50px 20px;
    text-align: center;
}

/* ===== BUTTON ===== */
.btn{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background: #38bdf8;
    color: #0f172a;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover{
    transform: scale(1.05);
    background: #0ea5e9;
}

/* ===== PROJECT CARDS (basic clean look) ===== */
.project-card{
    background: #111827;
    padding: 20px;
    margin: 15px auto;
    max-width: 300px;
    border-radius: 10px;
    text-align:center;
    box-shadow:04px 10px rgba(0,0,0,0,3)
}
.projects-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* ===== CONTACT ===== */
.contact p{
    margin: 8px 0;
}


